.maincont img {
  width: 50%;
}
.navp {
  width: 100vw;
  position: fixed;
  top: 0px;
}
.navbar {
  display: flex;
  width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  width: max-content;
  justify-content: space-around;
  background-color: rgb(133, 133, 133);
}

.navtitle {
  font-size: 1.5rem;
  /* padding-top: 0.2rem;*/
  padding-inline-end: 1289px;
}
.navtitle .link {
  text-decoration: none;
  color: rgba(248, 241, 241, 0.945);
}
